html, body{
	width:100%;
	margin:0;
}
body{
	font-family: 'Roboto', Arial, sans-serif;
	outline:none;
	overflow-x:hidden;

}



header{
	
	width:100%;
	position:fixed;
	background-color:black;
	top:0;
	left:0;
	z-index:900;
	display:block;
	height:80px;
	
	
	
	 
}
.header-telephone, .header-present{
	display:none;
}
.menu{
	display:block;
	max-width:1200px;
}
.logo{
	display:inline-block;
	color: #00b259;
	width: 132px;
    height: 38px;
	vertical-align: middle;
    margin-left: 35px;
	float:left;
	margin-top:20px;
	
	}


a{text-decoration:none;
}


.he3{
	color: #eacf36;
    font-size: 25px;
    font-weight: 300;
	display:inline-block;
	
}

.top{
	float:right;
	display:inline-block;
	vertical-align:middle;
}
.he3{
	margin-top:20px;
	display:inline-block;
	margin-left:30px;
	margin-right:30px;
}
.he2{display:inline-block;
	 margin-right:30px;
}
.he1{
	color: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 18px;
    text-align: center;
	margin-right:30px;
}
.he1 a{
	color:white;
    
}
.he2 a{
	padding:3% 24%;
	border:1px solid #eacf36;
	
	color:white;
	
	
}


.poisk{
	display:inline-block;
	width: 36px;
    height: 36px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    color: transparent;
	vertical-align:middle;
	margin-right:30px;
}
.m1{display:block;
	
	max-width:1200px;
	width:100%;
	position:relative;
	padding-left:20px;
	
	
	
}
.m1f1, .m1f2{
	display:flex;
	max-width:1200px;
	
}

.s3, .s4, .s1, .s2, .s5{
	text-align:left;
	flex:1;
	font-size: 16px;
    line-height: 22px;
    color: #010101;
    font-family: roboto, sans-serif;
    font-weight: 300;
	padding-right: 8%;
	padding-bottom: 30px;
	
}

h2{
	
	color: #010101;
	font-size: 24px;
    line-height: 26px;
	
}

.z{
	
	display:flex;
	max-width:1200px;
	margin-top:30px;
	margin-left:20px;
	
}
.title{
	display:block;
	width:100%;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
	flex-direction:row;
	margin-bottom: 10px;
	justify-content:center;
	padding: 100px 0 40px;
	z-index:5;
	
	
	
	
}
.t1{
	display:inline-block;
	vertical-align:middle;
	margin-right:50px;
}
.t2{
	
	display:inline-block;
	
	
    vertical-align: middle;
	
	text-align:center;
	font-size: 57px;
    font-weight: 100;
    line-height: 62px;
	color:white;
	
    
}

.title2{
	color: #eacf36;
	
}
.ddva{
	background-repeat: no-repeat;
    background-position: 50% 0;
	background-size: cover;
	width:100%;
}
.dva{
	
	max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
	
	padding: 40px 0;
}
.dva h1{
	display:block;
	color:white;
	font-size: 39px;
    line-height: 42px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    text-transform: none;
    padding-left:30px ;
    margin: 0 0 60px;
}
.beneflist__li{
	display: inline-block;
    vertical-align: top;
    width: 24.5%;
    padding: 30px 20px 30px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    font-family: roboto, sans-serif;
    font-weight: 300;
	
}
.col1, .col2{
	display:inline-block;
}

.beneflist__img {
    display: block;
    margin: 0 auto 30px;
}
* {
    box-sizing: border-box;
    outline: none;
}
.green{
	width:100%;
	display:block;
	background-color: #00b259;
	
	height:650px;
}
.g1{
	width:100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color:white;
	vertical-align: middle;
	display:inline-block;
	font-size: 19px;
    font-weight: 300;
	padding:20px;
}
.g1:hover{
	background: #00994c;
}

.g2{
	display:block;
    margin-bottom: 30px;
    font-size: 39px;
    font-weight: 300;
    color: #fff;
	width:100%;
	background-color:#00b259;
	margin-top:40px;
	
}
.label {
    width: 300px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 14px;
    padding-right: 20px;
    margin-right: -4px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.input, .textarea {
    width: 460px;
    
	margin-bottom:10px;
    padding: 10px;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    background: #fff;
}
.g3{margin-left:-300px;
display:block;
background-color:#00b259;
width:100%;
}

.kn{
	    width: 460px;
		
		display:block;
		background-color: #00b259;
		margin-top:10px;
}
.kn1 a{
	background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    
    
    padding: 5px 10px;
    
    
}
.kn1, .kn2{
	display:inline-block;
	margin-top:20px;
}
.kn1{
	float:left;
}
.kn2{float:right;
}
.kn2 a{
	background-color:black;
    color: #fff;
    font-size: 18px;
    padding: 15px 65px;
	}
.kn1 a{
	padding:15px 35px;
}
footer{
	width:100%;
	background-color:black;
	height:270px;
	padding-top: 40px;
    color: white;
}
.foot{
	display:block;
	max-width:1200px;
	width:100%;
}
.menulist{
	list-style:none;
	width:70%;
	float:left;
	margin-left:-40px;
}
.menulist li{
	display:inline-block;
	vertical-align:top;
	margin-right:25px;
	
}
.menulist li{
	font-size: 18px;
    color: #737373;
}
.footer-rights{
	width:70%;
	float:left;
	color: #797979;
    font-size: 13px;
    line-height: 19px;
	display:block;
	color: #797979;
    margin-bottom: 40px;
	text-align:left;
	margin-left:40px;
	margin-top:110px;
	
}
.social-list{
	
	display:inline-block;
	float:right;
	
}

.fb, .yt{
	width: 40px;
    height: 40px;
    color: white;
	margin-right:25px;
}
.yt{
	background-color:white;
}
.footer-phone {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
	margin-right:40px;
}
.footer-data {
    float: right;
    width: 30%;
    text-align: right;
}
.ani{
	width:100%;
	height:500px;
	max-width:1200px;
	
}
.aniani{
	width:90%;
	margin-right:50px;
}
.ani1, .ani2, .ani3, .ani4{
	display:inline-block;
	height:250px;
	width:500px;
	color:white;
	text-align:left;
	background-repeat:no-repeat;
	background-position: 50% 0;
	background-size: cover;
	
	position:relative;
	float:right;
}
.ani1::before, .ani2::before, .ani3::before, .ani4::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(http://www.defa.ru/local/templates/main/images/grad-bg.png);
    
    background-size: 100% auto;
    background-repeat:no-repeat;
	position:absolute;
}
.ta1{
	color: #fff;
    font-size: 20px;
    margin: 20px 15px;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

@media screen and (min-device-width : 375px) and (max-device-width : 800px) {
	body{
		font-size:50px;
	}
	.z{
		text-align:left;
	}
	header{
		height:180px;
	}
	.logo{
		width:250px;
		height:150px;
	}
	.title{
		padding-top:300px;
		padding-bottom:100px;
		
	}
	.t1, .t2{
		display:block;
		font-size:80px;
		line-height:110px;
		
	}
	.t1 img{
		width:100px;
	}
	.he1, .he2, .he3{
		display:none;
		
	}
	.m1f1, .m1f2{
		display:block;
	}
	.s1, .s2, .s3, .s4, .s5{
		display:block;
		line-height:50px;
	}
	.dva h1{
		font-size:80px;
		line-height:110px;
	}
	.beneflist__li{
		display:block;
		width:100%;
		padding-right:40px;
		padding-left:40px;
		line-height:50px;
		
	}
	.beneflist__li img{
		width:200px;
	}
	.g1{font-size:55px;
	}
	.g2{
		font-size:100px;
	}
	.green{
		height:1400px;
		
	}
	.label{
		display:none;
	}
	.g3{
		
	}
	.g3 input{
		width:800px;
		height:100px;
		margin-left:250px;
		margin-bottom:30px;
		
		
	}
	.g3 textarea{
		
		margin-left:250px;
		width:800px;
		height:350px;
	}
	.kn{
		width:800px;
	}
	.kn a{
		font-size:45px;
	}
	.menulist li{
		display:block;
		text-align:left;
		font-size:45px;
	}
	.footer-rights{
		float:right;
		width:100%;
		font-size:25px;
		padding-left:30px;
	}
	footer{
		height:600px;
	}
	footer .col1, .col2{
		display:inline-block;
		margin-top:30px;
		
		}
	.social-list{
		width:100%;
		margin-top:-300px;
	}
	.footer-phone{
		
		
		font-size:45px;
		float:left;
		padding-left:30px;
	
		
		
	}
	.social-item svg{
		
		width:100px;
		height:100px;
		float:right;
		
		
	}
	.header-telephone, .header-present{
		display:inline-block;
		
		margin-right:30px;
		margin-top:30px;
		
	}
	.poisk{
		margin-top:-140px;
		margin-right:100px;
		
	}
	.header-telephone svg, .header-present svg, .poisk svg{
		width:100px;
		height:100px;
		
		
	}
	.ani{
		height:2000px;
		
	}
	.aniani{
		width:100%;
	}
	.ani1, .ani2, .ani3, .ani4{
		display:block;
		width:100%;
		height:500px;
		
	}
	.ta1{
		font-size:60px;
	}
	
	
}